@media (max-width: 768px) {
    .section__div1 {
        display: block;
        align-items: center;
        justify-content: center;
        z-index: 99999;
    }
}
@media (max-width: 768px) {
    .section3__div{
        flex-direction: column;
    }
}
@media (max-width: 1440px){
    .section5__div{
        width: 320px;
    }
}
@media (max-width: 1170px){
    .section5__div{
        width: 250px;
    }
}
@media (max-width: 992px){
    .section5__div1{
        display: block;
        align-items: center;
        column-gap: 5px;
        flex-direction: column;
    }
    .section5__div{
        width: 100%;
    }
}